# Ignore environment variables file
.env

# ecommerce_project/settings.py
# ecommerce_project/static/

# Ignore the ecommerce_template folder
ecommerce_template/

# Virtual environment
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
db.sqlite3

# Django static and media files
# /static/
# /media/

# Logs and temporary files
*.log
*.swp
*.swo

# VS Code settings
.vscode/


 cart/views_backup.py
 store/views_backup.py
 accounts/views_backup.py